*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

#content {
    display: block;
}

#header {
    padding: 3rem;
    font-size: 4rem;
    text-align: center;
}

#container {
    display: grid;
    margin: auto;
    width: 350px;
    height: 350px;
    cursor: pointer;
}

.cell {
    border: 1px solid black;
    box-sizing: border-box;
}

#buttons {
    text-align: center;
}

#clear-button,
#resize-button {
    margin: 1rem;
    padding: 1rem;
}